.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black solid;
    margin: auto;
    padding: 20px;
}

.letters{
    display: flex;
    border: black solid;
    padding: 150px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: xx-large;
    gap: 20px;
    justify-content: center;
}

.number1{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number2{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number3{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number4{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number5{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number6{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number7{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number8{
    border: black solid;
    padding: 10px;
    margin: 5px;
}


.number9{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.number0{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.q{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.w{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.e{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.r{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.t{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.y{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.u{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.i{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.o{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.p{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.å{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.row1,
.row2,
.row3{
    display: flex;
    gap: 20px;
}

.a{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.s{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.d{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.f{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.g{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.h{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.j{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.k{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.l{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.ö{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.ä{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.z{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.x{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.c{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.v{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.b{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.n{
    border: black solid;
    padding: 10px;
    margin: 5px;
}

.m{
    border: black solid;
    padding: 10px;
    margin: 5px;
}